<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    Dia 1
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
    
		<h1 class="paddingFull10">Dia 1</h1>
<table>
<thead>
<tr>
<th data-field="id">Hora</th>
<th data-field="name">Lloc</th>
<th data-field="price">Info</th>
</tr>
</thead>

<tbody>
<tr>
<td>07:00</td>
<td>Plaça de la Vila </td>
<td>Sortida de Santa Coloma de Gramenet</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('dia2')">Mostrar dia2</button>

	</div>
	
</jsv-content>
